.layout {
  min-height: 100vh;
  background-color: #fff !important;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  background-color: #fff !important;
  display: flex;
  align-items: center ;
  justify-content: space-around;
  padding: 60px !important;
  font-size: 16px;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff !important;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: '../../assets/home-banner.png';
}

.footer {
  text-align: center;
  padding: 10px 50px;
  background: #fff !important;
  color: #fff;
}

.menuItems {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px !important;
}

.menuIconItems {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 22px;
}